<div class="container nt-5">
  <h1 class="text-center">Lista de Usuarios</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Empresa</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios; let i = index">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.empresa }}</td>
        <td>
          
          <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(i)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="nt-4">Agregar Usuario</h2>
  <form (ngSubmit)="agregarUsuario()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" [(ngModel)]="nuevoUsuario.nombre" name="nombre" class="form-control" id="nombre" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" [(ngModel)]="nuevoUsuario.email" name="email" class="form-control" id="email" required>
    </div>
    <div class="mb-3">
      <label for="empresa" class="form-label">Empresa</label>
      <input type="text" [(ngModel)]="nuevoUsuario.empresa" name="empresa" class="form-control" id="empresa" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Usuario</button>
  </form>

  
  
  
